header, footer {
    font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 0.3em 0;
	background: #333;
	color: #FFF;
    border: 2px orange dashed;
}

h2 {
    font-style: italic;
    font-size: 20px;
}

p {
    font-family: arial;
}

footer {
	clear: both;
	margin-top:30px;
}

.button {
    width: 260px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.centered {
    text-align: center;
}

.left {
    float: left;
}

.mailto {
    color: orange;
}

.label {
    width: 200px;
    float: left;
}

.message {
    color: green;
}

.radio {
    width: 100px;
}

.textbox {
    width: 500px;
    height: 80px;
}

#mnuNavigation {
    padding: .5em 0 .5em 1em;
    margin-bottom: .5em;
    font-size: 14px;
}